
@{
    ViewBag.Title = "Education";
}
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Home", "Index", "CV")</li>
        <li>@Html.ActionLink("Personal Information", "PersonalInformation", "CV")</li>
        <li>@Html.ActionLink("Education", "Education", "CV")</li>
        <li>@Html.ActionLink("Project", "Project", "CV")</li>
        <li>@Html.ActionLink("Reference", "Reference", "CV")</li>
    </ul>
</div>

<h4>Education</h4>
<h4>SSC</h4>
<h4>Instritude Name: MEH Arif College</h4>
<h4>HSC</h4>
<h4>Instritude Name:MEH Arif College</h4>
<h4>BSc</h4>
<h4>American Internation Univercity - Bangladesh</h4>


