
@{
    ViewBag.Title = "Index";
}
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Home", "Index", "CV")</li>
        <li>@Html.ActionLink("Personal Information", "PersonalInformation", "CV")</li>
        <li>@Html.ActionLink("Education", "Education", "CV")</li>
        <li>@Html.ActionLink("Project", "Project", "CV")</li>
        <li>@Html.ActionLink("Reference", "Reference", "CV")</li>
    </ul>
</div>
<h4>Jannatul Ferdus</h4>
<h4>jannatul6246ferdus@gmail.com</h4>
<h4>19-39371-1</h4>

