
@{
    ViewBag.Title = "PersonalInformation";
}
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Home", "Index", "CV")</li>
        <li>@Html.ActionLink("Personal Information", "PersonalInformation", "CV")</li>
        <li>@Html.ActionLink("Education", "Education", "CV")</li>
        <li>@Html.ActionLink("Project", "Project", "CV")</li>
        <li>@Html.ActionLink("Reference", "Reference", "CV")</li>
    </ul>
</div>

<h4>Personal Information</h4>
<h4>Name: Jannatul Ferdus</h4>
<h4>Father Name: Md. Ismail Hossen </h4>
<h4>Mother Name: MST Sahida Akter</h4>
<h4>Phone: 01919207047</h4>
<h4>Address: Gazipur</h4>
<h4>Gender: Female</h4>
<h4>Nationality: Bangladeshi</h4>


